# Terraform state
*.tfstate*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Keys
keys/
*.pem

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment variables
.env

# OS
.DS_Store
Thumbs.db